<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>imagen</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <!--<ion-toolbar>
      <ion-title size="large">imagen</ion-title>
    </ion-toolbar>-->
  </ion-header>

    <div class="container text-center">

    <h3 class="my-3">Inserta una imagen para predecir la emoción</h3>

    <!-- Input de archivo -->
    <input type="file" accept="image/*" class="form-control mb-3" (change)="onFileSelected($event)">

    <!-- Vista previa -->
    <div *ngIf="imageSrc" class="mb-3">
      <img [src]="imageSrc" class="img-fluid rounded shadow" alt="Vista previa de imagen">
    </div>

    <!-- Botón de predicción -->
    <ion-button expand="block" class="button" color="success" (click)="predecirEmocion()" [disabled]="!imageSrc">
      Predecir emoción
    </ion-button>

    <!-- Resultado de emoción -->
    <div *ngIf="emocionPredicha" class="mt-4">
      <h5>Resultado:</h5>
      <ion-chip color="tertiary">
        <ion-label>{{ emocionPredicha }}</ion-label>
      </ion-chip>
    </div>
  </div>

    <!-- Ícono de volver a casa -->
  <a href="inicio" class="btn-volver">
    <ion-icon name="home-outline"></ion-icon>
  </a>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button href="escribir" class="tab-escribir">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Escribir</ion-label>
    </ion-tab-button>

    <ion-tab-button href="dibujar" class="tab-dibujar">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>Dibujar</ion-label>
    </ion-tab-button>

    <ion-tab-button href="camara" class="tab-camara">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>

    <ion-tab-button href="imagen" class="tab-imagen">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Subir Imagen</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>
