<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="escribir" href="/tabs/escribir">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Escribir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dibujar" href="/tabs/dibujar">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>Dibujar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camara" href="/tabs/camara">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subir" href="/tabs/subir">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Subir Imagen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

