<ion-header color="primary" >
  <!--<ion-toolbar>
    <ion-title>🎨 ¡A dibujar!</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true" class="page-dibujar">

<div class="container">
    <canvas
      #canvas
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="stopDrawing()"
      (mousedown)="startDrawing($event)"
      (mousemove)="draw($event)"
      (mouseup)="stopDrawing()"
      (mouseleave)="stopDrawing()"
    ></canvas>

    <div class="button-container">
      <ion-button expand="block" class="pastel-btn-limpiar mt-3" (click)="clearCanvas()">Limpiar</ion-button>
      <ion-button expand="block" class="pastel-btn mt-3" (click)="saveDrawing()">Predecir Emoción</ion-button>
    </div>
</div>

     <!-- Ícono de volver a casa -->
  <a href="inicio" class="btn-volver">
    <ion-icon name="home-outline"></ion-icon>
  </a>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button href="escribir" class="tab-escribir">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Escribir</ion-label>
    </ion-tab-button>

    <ion-tab-button href="dibujar" class="tab-dibujar">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>Dibujar</ion-label>
    </ion-tab-button>

    <ion-tab-button href="camara" class="tab-camara">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>

    <ion-tab-button href="imagen" class="tab-imagen">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Subir Imagen</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>
